*{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: wheat;
    box-sizing: border-box;
}
header h2{
    position: fixed;
    padding-top: 12px;
    width: 100%;
    height: 50px;
    background-color: wheat;
    box-sizing: border-box; 
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 400px;
}
/* Navigation Bar */
.navigation{
    text-align: center;
    background-color: blue;
    color: red;
    padding: 10px;
}
.navigation a{
    font-size: 20px;
    padding: 0 20px;
}
.navigation a:hover{
    background-color: chartreuse;
    border-radius: 15px;
    padding-left: 12px;
    transform: 1.2s;
}
.shoes{
    background-color: chartreuse;
    border-radius: 15px;
}
/* for shoes product */
.gridcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,2fr);
    gap: 10px;
    margin: auto;
    padding: 5px;
    border: 15px solid pink;
    box-sizing: border-box;
}
.product{
    height: auto;
    padding: 15px;
    margin: auto;
    border: 10px solid rgb(228, 228, 235);
    border-radius: 10px;
    overflow: visible;
    box-sizing: border-box;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 5px solid rgb(132, 106, 123);
}

/* Mobile */
@media (max-width:600px){
    .banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 120px;
}
/* Navigation Bar */
.navigation{
    text-align: center;
    background-color: blue;
    color: red;
    padding: 5px;
}
.navigation a{
    font-size: 13px;
    padding: 0 10px;
}
.navigation a:hover{
    background-color: chartreuse;
    border-radius: 10px;
    padding-left: 8px;
    transform: 1.2s;
}
.shoes{
    background-color: chartreuse;
    border-radius: 10px;


}
/* for shoes product */
.gridcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
}
.product{
    width: 100%;
    height: auto;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    overflow: visible;
}
.product h3{
    margin:0;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid blue;
}
}