*{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: wheat;
    box-sizing: border-box;
}
header h2{
    position: fixed;
    padding-top: 12px;
    width: 100%;
    height: 50px;
    background-color: wheat;
    box-sizing: border-box; 
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}
/* Navigation Bar */
.navigation{
    text-align: center;
    background-color: #1f2937;
    color: #ffffff;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}
.navigation a{
    font-size: 30px;
    padding: 0 20px;
    box-sizing: border-box;
}
.navigation a:hover{
    background-color: chartreuse;
    border-radius: 15px;
    padding-left: 12px;
    transform: 1.2s;
    box-sizing: border-box;
}
.shoes{
    background-color: chartreuse;
    border-radius: 15px;
    box-sizing: border-box;
}
/* for shoes product */
.gridcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,2fr);
    gap: 5px;
    margin: 0;
    padding: 0;
    border: 8px solid #fff1f5;
    box-sizing: border-box;
    overflow: hidden;
}
.product{
    height: auto;
    padding: 15px;
    margin: auto;
    border: 10px solid rgb(228, 228, 235);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 5px solid rgb(132, 106, 123);
     box-sizing: border-box;
}

/* footer */
.footer {
    background-color: #fff8e7;
    color: #222222;
    margin-top: 40px;
    overflow: hidden;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    overflow: hidden;
}

.footer-box h2 {
    color: #d32f2f;
    margin-bottom: 15px;
}

.footer-box h3 {
    margin-bottom: 15px;
    color: #d32f2f;
}

.footer-box p {
    line-height: 1.6;
    overflow: hidden;
}

.footer-box a {
    display: block;
    color: #222222;
    text-decoration: none;
    margin: 10px 0;
    overflow: hidden;
}

.footer-box a:hover {
    color: #d32f2f;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #475569;
    padding: 10px;
    height: 100px;
    overflow: visible;
    box-sizing: border-box;
}
.footer-bottom p{
    margin: 0;
    line-height: 1.5;
}





/* Mobile */
@media (max-width:600px){
    .banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 200px;
     box-sizing: border-box;
}
/* Navigation Bar */
.navigation{
    text-align: center;
    background-color: #1f2937;
    color: #ffffff;
    padding: 5px;
     box-sizing: border-box;
}
.navigation a{
    font-size: 20px;
    padding: 0 10px;
     box-sizing: border-box;
}
.navigation a:hover{
    background-color: chartreuse;
    border-radius: 10px;
    padding-left: 8px;
    transform: 1.2s;
     box-sizing: border-box;    
}
.shoes{
    background-color: chartreuse;
    border-radius: 10px;
     box-sizing: border-box;


}
/* for shoes product */
.gridcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.product{
    width: 100%;
    height: auto;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
     box-sizing: border-box;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid blue;
    box-sizing: border-box;
}

/* footer */
.footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .footer-bottom {
    text-align: center;
    border-top: 1px solid #475569;
    padding: 10px;
    height: auto;
    overflow: visible;
    box-sizing: border-box;
}
}